name: CI

on:
  push:
    branches:
      - '**'
      - '!dependabot/**'
  pull_request:
    branches: [ 'master' ]

permissions: read-all

jobs:
  test:
    name: Test OpenJDK ${{ matrix.java }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        java: [ 11, 17, 21, 25 ]
    runs-on: ${{ matrix.os }}
    permissions:
      checks: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          java-package: jdk
          cache: 'maven'
      - name: Run Tests
        run: mvn --batch-mode --no-transfer-progress test
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # v5
        if: ${{ !cancelled() }}
        with:
          report_paths: "**/target/surefire-reports/TEST*.xml"
          check_name: Unit Test Results for OpenJDK ${{ matrix.java }} on ${{ matrix.os }}

  test-jdk8:
    name: Test OpenJDK 8 on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-14 ]
    runs-on: ${{ matrix.os }}
    permissions:
      checks: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'zulu'
          java-version: '8'
          java-package: jdk
          cache: 'maven'
      - name: Run Tests
        run: mvn --batch-mode --no-transfer-progress test
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # v5
        if: ${{ !cancelled() }}
        with:
          report_paths: "**/target/surefire-reports/TEST*.xml"
          check_name: Unit Test Results for OpenJDK ${{ matrix.java }} on ${{ matrix.os }}

  test-oracle:
    name: Test Oracle JDK 8 with KCMS=${{ matrix.kcms }}
    runs-on: ubuntu-latest
    permissions:
      checks: write
    strategy:
      matrix:
        kcms: [ true, false ]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: |
          download_url="https://javadl.oracle.com/webapps/download/AutoDL?BundleId=245038_d3c52aa6bfa54d3ca74e617f18309292"
          wget -O $RUNNER_TEMP/java_package.tar.gz $download_url
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'jdkfile'
          jdkFile: ${{ runner.temp }}/java_package.tar.gz
          java-version: '8'
          cache: 'maven'
      - name: Set MAVEN_OPTS
        if: ${{ matrix.kcms }}
        run: |
          echo "MAVEN_OPTS=-Dsun.java2d.cmm=sun.java2d.cmm.kcms.KcmsServiceProvider" >> $GITHUB_ENV
      - name: Display Java version
        run: java -version
      - name: Run Tests
        run: mvn --batch-mode --no-transfer-progress test
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # v5
        if: ${{ !cancelled() }}
        with:
          report_paths: "**/target/surefire-reports/TEST*.xml"
          check_name: Unit Test Results for Oracle JDK 8 with KCMS=${{ matrix.kcms }}

  release:
    name: Deploy
    needs: [ test, test-jdk8, test-oracle ]
    # Temporarily disable deploy
    if: false && github.ref == 'refs/heads/master' # only perform on latest master
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Maven Central
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with: # running setup-java again overwrites the settings.xml
          distribution: 'temurin'
          java-version: '8'
          java-package: jdk
          server-id: central # Value of the distributionManagement/repository/id field of the pom.xml
          server-username: MAVEN_CENTRAL_USERNAME # env variable for username in deploy (1)
          server-password: MAVEN_CENTRAL_PASSWORD # env variable for token in deploy (2)
      - name: Get Project Version
        run: |
          echo "PROJECT_VERSION=$(mvn --batch-mode help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      - name: Publish to Maven Central
        if: ${{ endsWith(env.PROJECT_VERSION, '-SNAPSHOT') }}
        run: mvn --batch-mode --no-transfer-progress deploy -P release -DskipTests -Dgpg.signer=bc
        env:
          MAVEN_CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }} # must be the same env variable name as (1)
          MAVEN_CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }} # must be the same env variable name as (2)
          MAVEN_GPG_KEY: ${{ secrets.GPG_KEY }}                    # Value of the GPG private key to import
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
